<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Customer</title>
</head>
<body>
<h2>Edit Customer</h2>
<p th:text="${customer}">test customer</p>
<p th:text="${customer.firstName}">test firstName</p>
<p th:text="${customer.lastName}">test lastName</p>
<p th:text="${customer.id}">test id</p>

<form th:action="@{/customers/modify}" th:object="${customerForm}" method="post">
    <input type="hidden" name="id" th:value="${customer.id}" />
    <dl>
        <dt><label for="lastName">lastName</label></dt>
        <dd>
            <input type="text" id="lastName" name="lastName" th:field="*{lastName}"
                   value="default last name" th:errorclass="error-input"/>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                  class="error-message">Error!</span>
        </dd>
        <dt><label for="firstName">firstName</label></dt>
        <dd>
            <input type="text" id="firstName" name="firstName" th:field="*{firstName}"
                   value="default first name" th:errorclass="error-input"/>
            <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                  class="error-message">Error!</span>
        </dd>
    </dl>
    <input type="submit" value="modify" />

</form>
</body>
</html>